
  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <col width="120">
          <tbody>
            <h2>Withdrawl</h2>
            <tr>
              <th>Amount</th>
              <th>Date</th>
            </tr>
              <%@user.withdrawls.each do |withdrawl|%>
                <tr>
                  <th> <%=withdrawl.amount%></th>
                  <th><%=withdrawl.created_at%></th>
                </tr>
              <%end%>
          </tbody>
        </col>
      </table>
    </div>
  <div/>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <col width="120">
          <tbody>
            <h2>Deposits</h2>
            <tr>
              <th>Amount</th>
              <th>Date</th>
            </tr>
              <%@user.deposits.each do |deposit|%>
              <tr>
                <th><%=deposit.amount%></th>
                <th><%=deposit.created_at%></th>
              </tr>
                <%end%>
            </tbody>
        </col>
    </table>
  </div>
</div>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <col width="120">
          <tbody>
            <h2>Transfer Out</h2>
            <tr>
              <th>To</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
              <%@user.buys.each do |buy|%>
                <tr>
                  <th> <%=buy.seller.name%></th>
                  <th><%=buy.amount%></th>
                  <th><%=buy.created_at%></th>
                </tr>
              <%end%>
          </tbody>
        </col>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <col width="120">
          <tbody>
            <h2>Transfer In</h2>
            <tr>
              <th>From</th>
              <th>Amount</th>
              <th>Date</th>
            </tr>
              <%@user.sells.each do |buy|%>
                <tr>
                  <th> <%=buy.buyer.name%></th>
                  <th><%=buy.amount%></th>
                  <th><%=buy.created_at%></th>
                </tr>
              <%end%>
          </tbody>
        </col>
      </table>
    </div>
  </div>
